
// recommendations
.reccomendations{
    margin-top: 218px;
    text-align: center;
    color: $text-color;
    margin-bottom: 80px;
    h1{
        margin: 0px 2px 40px 2px;
        line-height: 60px;
        font-size: 48px;
    }
    .recommendation-image-container{
        display: flex;
        height: autopx;
        // width: 1140px;
        width: 100%;
        .recomendation-image{
            img{
                height: 541px;
                width: 100%;
                margin-right: 30px;
                padding: 0px 1.33px 2px 0.67px;
            }
            h2{
                font-size: 20px;
                letter-spacing: 0;
                line-height: 25px;
                font-weight: map-get($font-weights, medium);
                text-align: left;
            }
        }
    }
}
